@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model IEnumerable<string>

<div class="d-grid gap-1">
    
    <a asp-controller="Home" asp-action="DataSummary" asp-route-COUNTY_NAME="" asp-route-pageNum="1"
       class="btn btn-outline-secondary">Home</a>
    @foreach (string county in Model)
    {
        <a asp-controller="Home" asp-action="DataSummary" asp-route-COUNTY_NAME="@county" asp-route-pageNum="1"
           class="btn @(ViewBag.SelectedCounty == county ? "btn-primary" : "btn-secondary")">@county</a>
    }
</div>