@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<form method="post">
    <button name="severity" value="1" type="submit">1</button>
    <button name="severity" value="2" type="submit">2</button>
    <button name="severity" value="3" type="submit">3</button>
    <button name="severity" value="4" type="submit">4</button>
    <button name="severity" value="5" type="submit">5</button>
</form>
