@{
    ViewData["Title"] = "Education";
}

<head>
    <link href="~/css/metro-all.min.css" rel="stylesheet" />
</head>

<body>

    <div class="container">
        <div class="row">
            <div class="col text-center font-weight-bold">
                <h1>
                    UTAH CRASH DATA
                </h1>
            </div>

        </div>
    </div>
    <br />
    <div class="container">
        <div class="row">
            <div class="img-container">
                <img src="~/img/accident.jpg" width="300" />
                <div class="image-overlay op-darkRed text-left">
                    <h1 class="text-black-50 font-weight-bold">
                        *Insert Text*
                    </h1>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="container">
        <div class="row">

        </div>
    </div>
    <br />
    <div class="container">
        <div class="row">

            <div class="col-1"></div>
            <div data-role="tile" data-size="wide" class="col bg-red">
                <img src="~/img/database.jpg" class="icon" />
                <span class="branding-bar">See the Data</span>
            </div>

            <div class="col-1"></div>

            <div data-role="tile" data-size="wide" class="col bg-red">
                <img src="~/img/admin.jpg" class="icon" />
                <span class="branding-bar">Admin Login</span>
            </div>

            <div class="col-1"></div>
        </div>
    </div>
    <br />
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h2>More Resources</h2>
            </div>

        </div>
        <div class="row">
            <div class="col">
                <div class="card image-header">
                    <div class="card-header fg-white" style="background-image: url(https://zerofatalities.com/wp-content/uploads/2020/11/zero-logo@2x-8.png)">
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-secondary" onclick="location.href='https://zerofatalities.com/'" type="button">
                            Zero Fatalities
                        </button>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card image-header">
                    <div class="card-header fg-white" style="background-image: url(https://pbs.twimg.com/media/EhC9XQOWoAAP5KM.jpg)">
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-secondary" onclick="location.href='https://highwaysafety.utah.gov/crash-data/'" type="button">
                            Utah DPS
                        </button>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card image-header">
                    <div class="card-header fg-white" style="background-image: url(https://pbs.twimg.com/profile_images/568447784525647872/kQ_uH5TR_400x400.jpeg)">

                    </div>
                    <div class="card-footer">
                        <button class="btn btn-secondary" onclick="location.href='https://saferoads.org/'" type="button">
                            Advocates for Highway...
                        </button>
                        @*<button class="button secondary" href="" target="_blank">Advocates for Highway...</button>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <br />
</body>