@{
    ViewData["Title"] = "Home Page";
}

<head>
    <link href="~/css/metro-all.min.css" rel="stylesheet" />
    <link href="~/css/site - Copy.css" rel="stylesheet" />
</head>

<body>
    <script type="text/javascript"
            src="https://app.termly.io/embed.min.js"
            data-auto-block="on"
            data-website-uuid="bd768242-0caf-4596-be95-3d56795fa394"></script>

    
    <div class="container">
        <img class="gfg" src="~/img/nighthighway3.jpg" />
        <div>
            test
        </div>
    </div>

    <!--<div class="container">
        <div class="row">
            <div class="container">

                <img class="gfg " src="~/img/nighthighway3.jpg" />-->
                <!-- title and tag line with button -->
                
                <!--<div class="logo fadeshow1">
                    <div class="background stuff">

                        <h1>Utah Crash and Accident Repository(U-C.A.R.)</h1>


                        <p>Information lead to Innovation</p>

                    </div>
                    <button class="background">See the Data</button>
                </div>

               
            </div>

        </div>-->

        <!-- background image -->

        <!--<br /><br />
        <br /><br />
    </div>-->

    <div class="container text-center">

        <div class="text-center">
            <h1>For Users</h1>
        </div>
        <br />
        <br />

        <div class="row">
            <div class="col-6">
                <h4>
                    The Utah Department of Transportation, concerned lawmakers, and advocates have noticed the
                    alarming increase of motor vehicle accidents and deaths in Utah.
                </h4>
                <br />
                <h4>
                    Zero Fatalities is the Only Acceptable Number
                </h4>
                <p>
                     - Zero Fatalities Mission Statement
                </p>
                <br />
                <br />
            </div>
            <div class="col-6">

                <h4>
                    To combat this trend we have created this website using actual Utah crash data to empower
                    users to better understand and work toward crash and fatality prevention.
                </h4>
                <br />
                <h4>
                    Enhance quality of life through transportation
                </h4>
                <p>
                     - UDOT Mission Statement
                </p>
                <br />
                <br />
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h2>More Resources</h2>
            </div>

        </div>
        <div class="row">
            <div class="col">
                <div class="card image-header">
                    <div class="card-header fg-white willy">
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-secondary" onclick="location.href='https://zerofatalities.com/'" type="button">
                            Zero Fatalities
                        </button>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card image-header">
                    <div class="card-header fg-white willseph">

                    </div>
                    <div class="card-footer">
                        <button class="btn btn-secondary" onclick="location.href='https://highwaysafety.utah.gov/crash-data/'" type="button">
                            Utah DPS
                        </button>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card image-header">
                    <div class="card-header fg-white will">

                    </div>
                    <div class="card-footer">
                        <button class="btn btn-secondary" onclick="location.href='https://saferoads.org/'" type="button">
                            Advocates for Highway...
                        </button>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br /><br /><br /><br />

</body>
