@{
    ViewData["Title"] = "Home Page";
}


@{
    ViewData["Title"] = "Home Page";
}


<head>
    <link href="~/css/metro-all.min.css" rel="stylesheet" />
</head>

<body>
    <script type="text/javascript"
            src="https://app.termly.io/embed.min.js"
            data-auto-block="on"
            data-website-uuid="bd768242-0caf-4596-be95-3d56795fa394"></script>

    <style>
        .container1 {
            position: relative;
            width: 100%;
        }

        /* blurring the image */
        .gfg {
            filter: blur(5px);
            width: 100%;
        }

        .gfg2 {
            width: 100%;
        }

        /* designing title and tag line */


        .logo {
            text-align: center;
            max-width: 35%;
            position: absolute;
            font-size: 20px;
            top: 35%;
            left: 35%;
            color: white;
        }

        .logo2 {
            text-align: center;
            position: absolute;
            max-width: 100%;
            font-size: 20px;
            top: 0%;
            left: 0%;
            color: black;
        }

        h1, p {
            border: 4px solid white;
            padding: 10px 50px;
            position: relative;
            border-radius: 10px;
            font-family: Arial, Helvetica, sans-serif;
        }

        .background {
            background-color: black;
        }

        h1:hover {
            /*background-color: red;*/
            /*-webkit-background-clip: text;
                -webkit-text-fill-color: transparent;*/
        }

        /* Designing button */
        .logo button {
            border: none;
            outline: 0;
            display: inline-block;
            padding: 10px 25px;
            color: black;
            background-color: #ddd;
            text-align: center;
            cursor: pointer
        }

            .logo button:hover {
                background-color: red;
                color: white;
            }

        .logo2 button {
            border: none;
            outline: 0;
            display: inline-block;
            padding: 10px 25px;
            color: black;
            background-color: #ddd;
            text-align: center;
            cursor: pointer
        }

            .logo2 button:hover {
                background-color: red;
                color: white;
            }
        /*#my-div {
            margin: 0 auto;
            width: 80%;
            height: 50%;
        }*/

    </style>

    <div class="container">
        <div class="row">
            <div class="container1 containertest">

                <img class="gfg " src="~/img/nighthighway3.jpg" />
                <!-- title and tag line with button -->
                <div class="logo">

                    <h1 class="background">Utah Crash Data</h1>


                    <p class="background">Driving Understanding and Prevention</p>


                    <button>See the Data</button>
                </div>
            </div>

        </div>

        <!-- background image -->

        <br /><br />
        <br /><br />
    </div>

    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h2>More Resources</h2>
            </div>

        </div>
        <div class="row">
            <div class="col">
                <div class="card image-header">
                    <div class="card-header fg-white" style="background-image: url(https://zerofatalities.com/wp-content/uploads/2020/11/zero-logo@2x-8.png)">
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-secondary" onclick="location.href='https://zerofatalities.com/'" type="button">
                            Zero Fatalities
                        </button>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card image-header">
                    <div class="card-header fg-white" style="background-image: url(https://pbs.twimg.com/media/EhC9XQOWoAAP5KM.jpg)">
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-secondary" onclick="location.href='https://highwaysafety.utah.gov/crash-data/'" type="button">
                            Utah DPS
                        </button>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card image-header">
                    <div class="card-header fg-white" style="background-image: url(https://pbs.twimg.com/profile_images/568447784525647872/kQ_uH5TR_400x400.jpeg)">

                    </div>
                    <div class="card-footer">
                        <button class="btn btn-secondary" onclick="location.href='https://saferoads.org/'" type="button">
                            Advocates for Highway...
                        </button>
                        @*<button class="button secondary" href="" target="_blank">Advocates for Highway...</button>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--<div class="col-8">
    <div class="container1">

        <img class="gfg2" src="~/img/lehi2.jpeg" />-->
    <!-- title and tag line with button -->
    <!--</div>
    </div>
    <div class="col-4">
        <p>
            The Utah Department of Transportation, concerned lawmakers, and advocates have noticed the
            alarming increase of motor vehicle accidents and deaths in Utah.
            We aim to empower public servants and concerned citizens throughout the state of Utah to be
            better informed about how to make our streets, highways, and freeways safer.
        </p>
        <div class="text-center"><button class="btn btn-secondary">Crash Severity Trends</button></div>
    </div>
              </div>-->

    <br /><br /><br /><br />

</body>











@*<div class="tiles-grid">
        <div data-role="tile" data-size="small"></div>
        <div data-role="tile" data-size="small"></div>
        <div data-role="tile" data-size="small" class="col-1 row-2"></div>
        <div data-role="tile" data-size="small" class="col-2 row-2"></div>
        <div data-role="tile" data-size="medium"></div>
        <div data-role="tile" data-size="wide"></div>
        <div data-role="tile" data-size="large"></div>
        <div data-role="tile" data-size="medium"></div>
        <div data-role="tile" data-size="medium"></div>
        <div data-role="tile" data-size="wide"></div>
    </div>*@



