.cole{
    color: white;
}
.coleb {
    color: black;
}

.btncolewidth{
    max-width:30rem;
}

.bigbtncole {
    margin-left: 125px;
    margin-right: 125px;
}

.medbtncole {
    margin-left: 50px;
    margin-right: 50px;
}

.briguysize {
    width: 242px;
}


/* Start of my code The switch - the box around the slider */
.whiteTextColor {
    color: white;
}

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 26px;
}

    /* Hide default HTML checkbox */
    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

    .slider:before {
        position: absolute;
        content: "";
        height: 18px;
        width: 18px;
        left: 3px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(18px);
    -ms-transform: translateX(18px);
    transform: translateX(18px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 18px;
}

    .slider.round:before {
        border-radius: 50%;
    }

.boxfit {
   width: fit-content;
}

.floatInputs{
    float: right;
}

.will {
    background-image: url(../img/other.jpeg);
}

.willy {
    background-image: url(../img/zerofatalities.png);
}

.willseph {
    background-image: url(../img/DPS.jpg);
}


.container1 {
    position: relative;
    width: 100%;
}

/* blurring the image */
.gfg {
    filter: blur(5px);
    width: 100%;
}

.gfg2 {
    width: 100%;
}

/* designing title and tag line */



.logo {
    text-align: center;
    max-width: 35%;
    position: absolute;
    font-size: 20px;
    top: 15%;
    left: 35%;
    color: white;
}

.logo2 {
    text-align: center;
    position: absolute;
    max-width: 100%;
    font-size: 20px;
    top: 0%;
    left: 0%;
    color: black;
}

h1, p {

    padding: 10px 50px;
    position: relative;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.background {
    background-color: black;
}

h1:hover {
    /*background-color: red;*/
    /*-webkit-background-clip: text;
                -webkit-text-fill-color: transparent;*/
}

/* Designing button */
.logo button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 10px 25px;
    color: black;
    background-color: #ddd;
    text-align: center;
    cursor: pointer
}

    .logo button:hover {
        background-color: red;
        color: white;
    }

.logo2 button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 10px 25px;
    color: black;
    background-color: #ddd;
    text-align: center;
    cursor: pointer
}

    .logo2 button:hover {
        background-color: red;
        color: white;
    }
/*#my-div {
            margin: 0 auto;
            width: 80%;
            height: 50%;
        }*/

/*@media (min-width:576px) {
    .container2 {
        max-width: 540px
    }

    .container2 .stuff {
        max-width: 10%
    }
}

@media (min-width:768px) {
    .container2 {
        max-width: 720px
    }
    .stuff{
        max-width: 25%
    }
}

@media (min-width:992px) {
    .container2 {
        max-width: 960px
        
    }
    .container2 .stuff{
        max-width: 50%
    }
}

@media (min-width:1200px) {
    .container2 {
        max-width: 1140px
    }
    .container2 .stuff {
        max-width: 75%
    }
}

@media (min-width:1452px) {
    .container2 {
        max-width: 1360px
    }
    .container2 .stuff{
        max-width: 90%
    }
}*/
/*
@media only screen and (max-width: 1400px) {
    .fadeshow1 {
        left: 40%;
    }
}

@media only screen and (max-width: 1000px) {
    .fadeshow1 {
        left: 35%;
    }
}

@media only screen and (max-width: 800px) {
    .fadeshow1 {
        left: 35%;
        display: none;
    }
}

@media only screen and (max-width: 600px) {
    .fadeshow1 {
        left: 35%;
        display: none;
    }
}
*/
